<%- include('./partials/header') %>


  <h2 id="h2">EXERCISE TRACKER</h2>
 <p id="p"> helps users set and achieve their fitness goals, whether it's weight loss, muscle gain, improved endurance, or general fitness.Users can monitor their progress over time, seeing how their fitness levels improve and their hard work pays off.Tracking exercises creates a sense of responsibility and accountability, encouraging users to stick to their routines.Exercise tracker offer a convenient way to keep all fitness-related information in one place, accessible on a mobile device or wearable.</p>


<%- include('./partials/footer') %>
